@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"].</h2>

<p>QualityBags Store was created in the frustration over the standardized offerings from the multiple retail stores and the abundance of soulless fashion brands. <br />
   Our ambition is to offer an amazing variety of designs with excellent quality.No other garment can be changed and manipulated so easily. <br />
   At QualityBags Store, we believe that the bag is the perfect garment. <br />
   It’s comfy, versatile and a strong expression of the individual’s taste – that’s why we love bags</p>
